<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<h3 th:text="${facture.description}"></h3>
<div>Client <span th:text="${facture.client.name + ' ' + facture.client.surname}"></span></div>
<h4>Facture detail</h4>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${facture.items}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.calculatePrice()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>